body, html {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.d-none {
    display: none !important;
}

.overflow-hidden {
    overflow: hidden;
}

.m-0 {
    margin: 0;
}

.m-16 {
    margin: 16px;
}

.p-8 {
    padding: 8px;
}